[submodule "SFML"]
	path = SFML
	url = https://transnetengineering.visualstudio.com/RnDSharedRepositories/_git/TE_SFML
	branch = pcc_dev
[submodule "imgui"]
	path = imgui
	url = https://transnetengineering.visualstudio.com/RnDSharedRepositories/_git/TE_imgui
	branch = pcc_dev
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://transnetengineering.visualstudio.com/RnDSharedRepositories/_git/TE_imgui-sfml
	branch = pcc_dev
[submodule "implot"]
	path = implot
	url = https://transnetengineering.visualstudio.com/RnDSharedRepositories/_git/TE_implot
	branch = pcc_dev
