[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
	branch = master
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
	branch = master
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
	branch = master
[submodule "TE_imgui"]
	path = TE_imgui
	url = https://transnetengineering.visualstudio.com/RnDSharedRepositories/_git/TE_imgui
	branch = TE_master
