[submodule "SFML"]
	path = SFML
	url = https://github.com/CharlvdM/CV_SFML.git
	branch = CV_GitHub_updates
[submodule "imgui"]
	path = imgui
	url = https://github.com/CharlvdM/CV_imgui.git
	branch = CV_GitHub_updates
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/CharlvdM/CV_imgui-sfml.git
	branch = CV_GitHub_updates
[submodule "implot"]
	path = implot
	url = https://github.com/CharlvdM/CV_implot.git
	branch = CV_GitHub_updates
